
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form enctype="multipart/form-data" action="/myapp/add_post_post/" method="post">
    {% csrf_token %}

    <tr>
      <td width="241"><table width="438" height="236" border="1">
        <tr>
          <td height="34">POST_NAME</td>
          <td><input type="text" name="post" id="post_name" /></td>
        </tr>
        <tr>
          <td height="34"><p>DESIGN_ID</p></td>
          <td><label>
            <select name="id1" id="select">
                {% for i in data %}
                <option value="{{ i.id }}">{{ i.design_name }}</option>
                {% endfor %}
            </select>
          </label></td>
        </tr>
        <tr>
          <td width="241">PHOTO_1</td>
          <td width="181"><input type="file" name="photo_1" id="photo_1" /></td>
        </tr>
        <tr>
          <td>PHOTO_2</td>
          <td><input type="file" name="photo_2" id="photo_2" /></td>
        </tr>
        <tr>
          <td>PHOTO_3</td>
          <td><input type="file" name="photo_3" id="photo_3" /></td>
        </tr>
        <tr>
          <td>DESCRIPTION_1</td>
          <td><input type="text" name="description_1" id="description_1" /></td>
        </tr>
        <tr>
          <td>DESCRIPTION_2</td>
          <td><input type="text" name="description_2" id="description_2" /></td>
        </tr>
        <tr>
          <td height="34">DESCRIPTION_3</td>
          <td><input type="text" name="description_3" id="textfield7" /></td>
        </tr>
        <tr>
          <td height="34">&nbsp;</td>
          <td><input type="submit" name="32" id="32" value="ADD" /></td>
        </tr>
      </table></td>
    </tr>

</form>
</body>
</html>
