
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_design_post/">
    {%  csrf_token %}
  <p>ENTER
    <input type="text" name="textfield" id="textfield" />
<input type="submit" name="button" id="button" value="SEARCH" />
  </p>
  <table width="982" height="174" border="1">
    <tr>
      <th width="105" scope="col">S/NO</th>
      <th width="173" scope="col">CATEGORY_ID</th>
      <th width="78" scope="col">PHOTO</th>
      <th width="84" scope="col">PRICE</th>
      <th width="199" scope="col">DESCRIPTION</th>
    </tr>
      {% for i in data %}
    <tr>
      <td height="97">&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.CATEGORY.category_name }}</td>
      <td>&nbsp;<img src="{{ i.photo }}" height="200" width="200"></td>
      <td>{{ i.price }}&nbsp;</td>
      <td>&nbsp;{{ i.description }}</td>
      <td><p><a href="/myapp/send_order/{{ i.id }}">send order</a></p></td>
      <td><p><a href="/myapp/view_review/{{ i.id }}">view review</a></p></td>
      <td><p><a href="/myapp/send_review/{{ i.id }}">send review</a></p></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
