
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_customizedrequeststatus_post/">
    {% csrf_token %}
  <table width="828" height="277" border="1">
    <tr>
      <td>FROM</td>
      <td><input type="date" name="textfield" id="textfield" /></td>
      <td>TO</td>
      <td><input type="date" name="textfield2" id="textfield2" /></td>
      <th colspan="4" scope="col"><input type="submit"  id="button" value="SEARCH" /></th>
    </tr>
    <tr>
      <td>S/NO</td>
      <td>DATE</td>
      <td>PRODUCT NAME</td>
      <td>MATERIAL</td>
      <td>DESCRIPTION</td>
      <td>PHOTO</td>
      <td>AMOUNT</td>
{#      <td>STATUS</td>#}
      <td>&nbsp;</td>
    </tr>

      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{  i.PRODUCT.product_name}}</td>
      <td>{{  i.PRODUCT.material}}</td>
      <td>{{  i.PRODUCT.description}}</td>
      <td><img src="{{  i.PRODUCT.photo}}"height="100"width="200"></td>
      <td>{{ i.PRODUCT.price }}</td>
      <td><a href="#">PAY</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
